<app-header-home></app-header-home>
<div *ngIf="!submitForm" style="padding: 20px 20px" class="row">
  <div class="col-md-9">
    <table style="background-color:white;" class="table table-shopping">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Sum</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of items">
          <td>
            {{item.title}}
          </td>
          <td>
            <img src="{{item.img}}" style="width:60px" />

          </td>
          <td>
            ${{item.price}}
          </td>
          <td>
            {{item.quantity}}
          </td>
          <td>
            Total: ${{item.price}}
          </td>
          <td>
            <a class="btn btn-danger" (click)="removeItem(item)">Remove</a>
          </td>
        </tr>
      </tbody>

    </table>
  <a class="btn__duyan" style="margin-top:20px;" routerLink="/home/products/men">Continue to shopping</a>

  </div>
  <div class="col-md-3">
    <form style="background-color:white;" #custForm="ngForm" (ngSubmit)="onCreateCustomer(custForm.value)">
      <div class="cart__total">
        <h3>Cart Total</h3>
        <div class="cart__total-total">
          <p>Subtotal:</p>
          <span> ${{total}}</span><br />
        </div>
        <div class="cart_total-shopping">
          <p>Shipping:</p>
          <span>There are no shipping methods available. Please double check your address, or contact us if you need any
            help.</span>
        </div>
        <div class="cart_total-checkout">
          <input class="input__checkout" type="text" [(ngModel)]="customer.id_user" name="id_user" readonly="true"
            placeholder="email" />
          <input class="input__checkout" type="text" [(ngModel)]="customer.address" name="address" placeholder="address"
            required />
        </div>
        <div class="btn__group">
          <input class="btn__duyan" value="Register" />
          <input type="submit" value="Checkout" class="btn__duyan" />
        </div>


      </div>
    </form>
  </div>
</div>
<div class="notfi" *ngIf="submitForm">
  Bạn đã đặt hàng thành công, vui lòng chờ trong vòng 2-3 ngày bạn nhé 
</div>
