<app-header-home></app-header-home>


<div style="padding: 0 0;background:white;" class="container-fluid">
  
  <div class="row">
    <div class="col-md-12">
      <h2 class="men__heading">MENS</h2>
    </div>
    <div class="col-md-12">
      <p class="men__content">Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Veniam pariatur saepe explicabo odio nisi dicta,
        quae eaque quam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, ratione?</p>
    </div>
  </div>
  <div class="navbar__options row">
    <div class="col-md-4 col-6 ">
      <div class="icon_men">
        <i class="fas fa-sliders-h"></i>
        <p>Shop bye</p>
      </div>

    </div>
    <div class="col-md-4 col-6 ">
      <div class="icon_sapxep">
        <p>view as</p>
        <div class="icon_sapxep-item">
          <i class="fas fa-th"></i>
          <div class="icon-mode-list">
            <div class="icon-bar"></div>
            <div class="icon-bar"></div>
            <div class="icon-bar"></div>
          </div>
        </div>
      </div>


    </div>
    <div class="navbar__options-set col-md-4 col-12 ">
      <div class="select_men">
        <p class="select_men-title">Show</p>
        <div class="show_select">
          <p class="show_select-name">12 Show</p>
          <i class="fa-select fa fa-angle-down"></i>
          <ul class="select_list">
            <li class="select_list_item">12 show</li>
            <li class="select_list_item">14 show</li>
            <li class="select_list_item">16 show</li>
            <li class="select_list_item">18 show</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row_contain row">
    <div class="col-men col-md-3 col-sm-6" *ngFor="let post of loadedPosts;let i = index ">
      <div class="card_men"  >
        <div class="card_men-images">
          <img class="card_men-img-item"
            src="{{ post.img }}"
            alt="" class="img-men">
          <p class="card_men-sold">Sold Out</p>
          <div class="card_men-listicon">
            <i class="card_men-icon1 far fa-heart"></i>
            <i routerLink="/home/detail/{{post.id}}" class="card_men-icon2 far fa-eye"></i>
            <i class="card_men-icon3 fas fa-sync-alt"></i>
          </div>
          <p (click)="addToCart(post)" class="card_select">Select Options</p>
        </div>
        <div class="card_men-profile">
          <p class="card_men-product">{{ post.category }}</p>
          <h3 class="card_men-producttitle">{{post.title}}</h3>
          <div class="card_men-star product_profile-star">
            <i class="product_icon fas fa-star"></i>
            <i class="product_icon fas fa-star"></i>
            <i class="product_icon fas fa-star"></i>
            <i class="product_icon fas fa-star"></i>
            <i class="product_icon-inactive fas fa-star"></i>
          </div>
          <p class="card_men-price">${{post.price}}</p>
        </div>
      </div>
    </div>
    

  </div>


  <!-- <div class="navbar-footer row">
    <div class="col-md-3 ">
      <div class="navbar-footer-item">
        <i class="navbar_footer-icon far fa-paper-plane"></i>
        <p>Free shipping worldwide</p>
      </div>
    </div>
    <div class="col-md-3 d-none d-md-block">
      <div class="navbar_footer-icon navbar-footer-item">
        <i class="navbar_footer-icon fas fa-redo"></i>
        <p>Free in-store return</p>
      </div>
    </div>
    <div class="col-md-3 d-none d-md-block">
      <div class="navbar-footer-item">
        <i class="navbar_footer-icon fab fa-airbnb"></i>
        <p>Genuine product guarantee</p>
      </div>
    </div>
    <div class="col-md-3 d-none d-md-block">
      <div class="navbar-footer-item">
        <i class="navbar_footer-icon fas fa-chalkboard"></i>
        <p>Secure shopping guarantee</p>
      </div>
    </div>

  </div> -->


</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class=" container-fluid">
          <div class="product row">

            <div class="product_item col-md-6">
              <div class="product_img">
                <div class="easyzoom">
                  <a href="images/zoom.jpg">
                    <img style="margin:0 auto;"
                      src="https://cdn.shopify.com/s/files/1/0264/5000/1980/products/17_1024x1024.jpg?v=1569991091"
                      alt="">
                  </a>
                </div>
              </div>
              <div class="product_note">
                <i class="product_note-icon fas fa-search"></i>
                <p class="product_note-item">Zoom the image with the mouse</p>
              </div>


            </div>
            <div class="product_item col-md-6">
              <div class="product_profile">
                <h2 class="product_profile-heading">Ninterdum Pre De Condimento</h2>
                <div class="product_profile-star">
                  <i class="product_icon fas fa-star"></i>
                  <i class="product_icon fas fa-star"></i>
                  <i class="product_icon fas fa-star"></i>
                  <i class="product_icon fas fa-star"></i>
                  <i class="product_icon-inactive fas fa-star"></i>
                  <p class="product_profile-review">1 review</p>
                </div>

                <p class="product_profile-stock">in stock</p>
                <p>SKU: DP1</p>
                <p class="product_profile-price">$870.00</p>
                <p class="product_profile-infor">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur
                  voluptatem reiciendis earum sint possimus ut temporibus voluptatum
                  similique atque debitis labore voluptates, nostrum a quasi! Architecto,
                  debitis atque Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, vel similique. Quaerat
                  labore ipsam totam rerum suscipit
                  quae quisquam inventore..</p>
                <div class="product_profile-color">
                  <p style="font-size:1.2rem;font-weight: 500">Color:</p>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0264/5000/1980/products/12_671ef0a6-90f5-4dd3-8491-d8dd4dbeba49_1024x1024.jpg?v=1569991091"
                    alt="">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0264/5000/1980/products/13_d7e06b9a-ee61-4787-a888-a4497db798a9_1024x1024.jpg?v=1569991091"
                    alt="">
                </div>
                <p style="font-size:1.2rem;font-weight: 500">Size:</p>
                <div class="product_profile-size">

                  <p class="size-item-active size-item">XS</p>
                  <p class="size-item">S</p>
                  <p class="size-item">M</p>
                  <p class="size-item">L</p>
                  <p class="size-item">XL</p>
                </div>
                <p style="font-size:1.2rem;font-weight: 500">Material:</p>
                <div class="product_profile-material">
                  <p class="material-item-active material-item">Leather</p>
                  <p class="material-item">Strap</p>
                </div>
                <p class="product_profile-quantity" style="font-size:1.2rem;font-weight: 500">Quantity:</p>
                <p style="font-size:1.2rem;display:inline-block" class="product_profile-subtotal">Subtotal: </p>
                <p style="font-weight: 700;display: inline-block;font-size: 1.2rem;letter-spacing: 0.2px;">$870.00</p>
                <button class="product_profile-btn" style="display:block">Add to cart</button>
                <button class="product_profile-btn-white" style="display:block">Buy it now</button>
                <div class="product_support">
                  <div class="product_support-item">
                    <i class="sp_item-icon fas fa-globe-americas"></i>
                    <p class="sp_item-content">Free Shipping World Wide</p>
                  </div>
                  <div class="product_support-item">
                    <i class="sp_item-icon fas fa-undo"></i>
                    <p class="sp_item-content">Free in-store return</p>
                  </div>
                  <div class="product_support-item">
                    <i class="sp_item-icon fas fa-shield-alt"></i>
                    <p class="sp_item-content">Secure shopping guarantee</p>
                  </div>
                  <div class="product_support-item">
                    <i class="sp_item-icon fas fa-globe-americas"></i>
                    <p class="sp_item-content">24 month</p>
                  </div>

                </div>



              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- <footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="box_footer">
          <h3 class="footer-heading">CUSTOMER SERVICE</h3>
          <p class="footer-content">685 Market Street, San Francisco,
            CA 94105, United States</p>
          <p>+0123 456 7890</p>
          <p>support@halothemes.com</p>

        </div>
      </div>
      <div class="col-md-4">
        <div class="box_footer">
          <h3 class="footer-heading">SHOP</h3>
          <p class="footer-content">New In</p>
          <p>Mens</p>
          <p>sWomens</p>
          <p>Jewelry</p>
          <p>Accessories</p>
          <p>Brands</p>

        </div>
      </div>
      <div class="col-md-4">
        <div class="box_footer">
          <h3 class="footer-heading">INFORMATION</h3>
          <p>Search Terms</p>
          <p>Advanced Search</p>
          <p>Orders and Returns</p>
          <p>Contact Us</p>

        </div>
      </div>

    </div>
  </div>

</footer> -->
