<app-header-home></app-header-home>
<div style="padding: 0 0;background:white;" >
    <div class="row account__page" style="padding: 0 100px;">
        <h3 class="col-md-12 account__page-title">MY ACCOUNT</h3>
        
        <div class="col-md-6 account__page-login">
            <div class="account__page-note">
                <p>RETURNING CUSTOMER</p>
                <span>I am a returning customer</span>
            </div>
            <form action="" class="account__page-form">
                <div class="form__group">
                    <label for="">Email Address:</label>
                    <input class="form__group-input" type="text" placeholder="Email address" #email required>
                </div>
                <div class="form__group">
                        <label for="">Password:</label>
                        <input class="form__group-input" type="password" placeholder="Email address" #password required>
                </div>
                
                <button type="submit" class="btnn btn__watch" (click)="onSignin(email.value,password.value)">Login</button>
                <div class="form__link">
                        <a href="...">Forgot your password? </a> or <a href="...">Return to Store</a>
                </div>
            </form>
        </div>
        <div class="col-md-6 account__page-register">
                <div class="account__page-note">
                        <p>NEW CUSTOMER</p>
                        <span style="display:block;margin:10px 0;font-weight:400;">Register Account</span>
                        <span >By creating an account you will be able to shop faster, be up to date on an order's status,
                             and keep track of the orders you have previously made.</span>
                    </div>
                    <form #usersForm="ngForm" (ngSubmit)="onCreateUser(usersForm.value)" class="account__page-form">
                        <div class="form__group">
                            <label for="">First Name:</label>
                            <input class="form__group-input" type="text" [(ngModel)]="user.name" name="name" placeholder="First Name">
                        </div>
                        <div class="form__group">
                            <label for="">Email:</label>
                            <input class="form__group-input" type="text" [(ngModel)]="user.email" name="email" placeholder="Email" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$">
                        </div>
                        <div class="form__group">
                                <label for="">Password:</label>
                                <input class="form__group-input" type="password" [(ngModel)]="user.password" name="password" placeholder="Password">
                        </div>
                        
                        <button type="submit" class="btnn btn__watch">Create an account</button>
                        <div class="form__link">
                                
                        </div>
                    </form>
        </div>
    </div>
        
</div>